@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #135372;
}

h1 {
  color: #EECC00;
  text-align: center;
  font-size: 3rem;
  line-height: 1.3154;
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

@media only screen and (min-width: 38em) {
  h1 {
    font-size: 4.2807rem;
    line-height: 0.3154;
  }
}

@media only screen and (min-width: 60em) {
  h1 {
    padding-top: none;
    margin: none;
  }
}

.cloud {
  font-size: 99px;
  color: #fff;
  text-align: center;
  top: 2.5em;
  padding-bottom: 1.5em;
  margin: 0;
}

@media only screen and (min-width: 38em) {
  .cloud {
    padding: 0.9em;
  }
}

.cloud .cloud-1 {
  position: absolute;
  left: 38%;
  z-index: 100;
  animation: cloud-1 2s ease-in-out infinite alternate;
}

@media only screen and (min-width: 38em) {
  .cloud .cloud-1 {
    left: 40%;
  }
}

@media only screen and (min-width: 60em) {
  .cloud .cloud-1 {
    left: 45%;
  }
}

.cloud .cloud-2 {
  position: absolute;
  right: 10%;
  z-index: 100;
  animation: cloud-2 2s ease-in-out infinite alternate;
}

@media only screen and (min-width: 38em) {
  .cloud .cloud-2 {
    right: 17%;
  }
}

@media only screen and (min-width: 60em) {
  .cloud .cloud-2 {
    left: 27%;
  }
}

.cloud .cloud-3 {
  position: absolute;
  left: 7%;
  z-index: 100;
  animation: cloud-3 2.5s ease-in-out infinite alternate;
}

@media only screen and (min-width: 38em) {
  .cloud .cloud-3 {
    left: 12%;
  }
}

@media only screen and (min-width: 60em) {
  .cloud .cloud-3 {
    left: 25%;
  }
}

.star-bunch {
  color: #EECC00;
  margin: auto;
  font-size: 50px;
  text-align: center;
}

.star-bunch .star-1 {
  animation: box-scale 10s ease-in-out infinite;
  text-align: center;
}

.star-bunch .star-2 {
  animation: box-scale 7s ease-in-out infinite;
}

.star-bunch .star-3 {
  animation: box-scale 8.5s ease-in-out infinite;
}

@media only screen and (min-width: 38em) {
  .star-bunch {
    padding-top: .3em;
    margin: none;
  }
}

@media only screen and (min-width: 60em) {
  .star-bunch {
    padding-top: .3em;
    margin: 0;
    padding: 0.1em;
  }
}

.sheep-colony {
  color: #fff;
  padding-top: .5em;
  margin: none;
  text-align: center;
  font-size: 120px;
}

.sheep-colony .sheep-1 {
  animation: box-rotate-1 3s ease-in-out infinite alternate;
}

.sheep-colony .sheep-2 {
  animation: box-rotate-2 3s ease-in-out infinite alternate;
}

@media only screen and (min-width: 38em) {
  .sheep-colony {
    padding-top: .5em;
    font-size: 150px;
  }
}

@keyframes box-rotate-1 {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes box-rotate-2 {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

@keyframes box-scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(2, 2);
  }
}

@keyframes cloud-1 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes cloud-2 {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes cloud-3 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}
